body {
    background-color: rgba(10, 5, 23, 1);
}
.hp {
    font-size: 16px;
}
.ter {
    font-size: 16px;

}
.aris {
    font-size: 16px;
}
.git {
    font-size: 16px;
}
.Group {
    font-size: 16px;
}
.github {
    font-size: 16px;
}
.treagain {
    border-radius: 11px;
    font-size: 16px;
    background-color: rgba(7, 7, 7, 0.2356);
    color: white;
}
.fast {
    color: white;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    border: 1px;
}
.rem {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rim {
    font-size: 75px;
    color: white;
}
.just {
    display: flex;
    justify-content: center;
    align-items: center;
}
.poli {
    display: flex;
    justify-content: center;
    align-items: center;
}
.voli {
    display: flex;
    justify-content: center;
    align-items: center;
}
.volite {
    display: flex;
    justify-content: center;
    align-items: center;
}